<div id="confirmToModifyModal" class="modal fade">
    <div class="modal-dialog modal-dialog-topright" style="align-items: flex-end;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm to Modify Color</h5>
                <button class="close iBtnSearch" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger m-2 Permission_modifyBaseColor" data-dismiss="modal"><i class="fa fa-close "></i>&nbsp;@Html.Raw(Library.Resource.Btn_Cancel)</button>
                <button class="btn btn-warning m-2 Permission_modifyBaseColor" id="btnConfirmToModify"><i class="fa fa-edit"></i>&nbsp;@Html.Raw(Library.Resource.Btn_Modify)</button>

            </div>
        </div>
    </div>
</div>